# Laravel API
NEXT_PUBLIC_API_URL="http://mua-be.test/api/v1"

# Auth.js
AUTH_URL="http://localhost:3000"
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

NEXT_PUBLIC_PHONE_NUMBER=
NEXT_PUBLIC_GOOGLE_VERIFICATION=
NEXT_PUBLIC_SITE_URL="https://aldenas.vercel.app"
NEXT_PUBLIC_BUSINESS_LEGAL_NAME="Aldena's Makeup"
NEXT_PUBLIC_BUSINESS_CITY=
NEXT_PUBLIC_BUSINESS_REGION=
NEXT_PUBLIC_BUSINESS_ADDRESS=
NEXT_PUBLIC_BUSINESS_POSTAL_CODE=
NEXT_PUBLIC_BUSINESS_SERVICE_AREAS="Pemalang,Pekalongan,Batang"
NEXT_PUBLIC_MUA_NAME=
NEXT_PUBLIC_MUA_EXPERIENCE=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_GOOGLE_BUSINESS_URL=
NEXT_PUBLIC_MANDIRI_NAME=""
NEXT_PUBLIC_MANDIRI_NUMBER=
NEXT_PUBLIC_SEABANK_NAME=""
NEXT_PUBLIC_SEABANK_NUMBER=
NEXT_PUBLIC_SHOPEEPAY_NAME=""
NEXT_PUBLIC_SHOPEEPAY_NUMBER=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
